<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head><title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <h1>Hello welcome to Auto parking microservices</h1>
        <p>Welcome to <span th:text="${appName}">Our App</span></p>

        <form th:action="@{/slots}" th:object="${SlotAvailability}" method="post" action="#">
            <div class="form-group row">
                <label for="startTime">Start Time:</label>
                <input type="datetime-local" id="startTime" name="startTime" th:field="*{startTime}">
                <br>
                <br>
                <label for="endTime">EndTime:</label>
                <input type="datetime-local" id="endTime" name="endTime" th:field="*{endTime}">
                <br>
                <br>
                <label>office :</label>
                <input type="radio" th:field="*{office}" value="1"/> Hyderabad
                <input type="radio" th:field="*{office}" value="2"/> Pune
                <input type="radio" th:field="*{office}" value="3"/> Bangalore
                <input type="radio" th:field="*{office}" value="4"/> Chennai <br/>
            </div>
            <br>
            <br>
            <button type="submit">search</button>
        </form>
    </div>
</div>
</body>
</html>